html, body { margin:0; padding:0; font-size:100%; } 

body { background:#191919; color:#DDD; font:1.4em/2em 'Helvetica Neue', Helvetica, Arial, sans-serif normal normal; padding:2.5em; }
/*body { background:#FF6600; }*/
h1, h2, h3, h4, img, hr, aside { border-color:#FFF; border-style:none; border-width:.125em; }

aside { border-top-style:solid; float:left; margin-right:1em; }
h1, h2, h3, h4 { border-bottom-style:solid; line-height:2em; }
hr { border-bottom-style:solid; }
img { padding:.25em; border-style:solid; }

h1, h2, h3, h4, h5, h6 { color:#FAFAFA; }

p.lead { position:relative; display:table; clear:both; padding:1em; z-index:1; line-height:1.5em; color:#444; font-weight:bold; }
p.lead:before, p.lead:after { position:absolute; font-size:6em; color:#222; z-index:-1; font-weight:normal; }
p.lead:before { content:open-quote; top: 0.25em; left: 0; }
p.lead:after { content:close-quote; bottom: -0.2em; right: 0em; }
